p{
    text-align: center;
}
p.text-left{
    text-align: left;
}
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.5);
}
.event-logo{
    height: 100px;
    width: 100px;
    
}
.sponser-logo{
    height: auto;
    width: 120px;
}
.bg-dark-transluscent{
    background-color: #000000ac;
}
.event-img{
    height: auto;
    width: 40vw;
}

.qr{
    height: 140px;
    width: auto;
}

.sponser-logo-l{
    height: auto;
    width: 240px;
}