p {
    color: #031012;
}

body {
    background-color: #f4fcfd;
}
.txt-alt{
    color: #f4fcfd;
}
.txt-clr{
    color: #031012;
}
/* backgrounds */
.bg-clr-primary {
    background-color: #2fc2da !important;
}

.bg-clr-secondary {
    background-color: #8a92ea !important;
}

.bg-clr-accent {
    background-color: #6c53e0 !important;
}

.bg-clr-sec-shade {
    background-color: #8a92ea66 !important;
}

.bg-clr-sec-shade {
    background-color: #8a92ea73 !important;
}

.bg-clr-pri-shade {
    background-color: #a8e6f0 !important;
}


/* colors */
.clr-primary {
    color: #2fc2da !important;
}

.clr-secondary {
    color: #8a92ea !important;
}

.clr-accent {
    color: #6c53e0 !important;
}

.bg-shade {
    color: #e6f0f1 !important;
}

.clr-sec-shade {
    color: #8a92ea73 !important;
}

.clr-pri-shade {
    color: #a8e6f0 !important;
}

.nav-brand-logo {
    width: 50px;
    height: 50px;

}

div.breaker {
    margin: 20px;
    text-align: center;
}

.showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
    background-image: linear-gradient(180deg,#000000cf,#00000021);
}
/* <div class="showhim">HOVER ME
  <div class="showme">hai</div>
</div> */
